.first-screen {
  height: calc(100vh - 73px);
  .first-screen-title {
    font-family: "Oswald", sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    width: 1000px;
    height: 200px;
    color: #ffffff;

    font-size: calc(20px + 70 * (100vw / 1200));
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #000;
    max-width: 900px;
    width: 100%;
  }
}
