.info-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;

  .info-title {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    &::after {
      content: "";
      width: 130px;
      height: 3px;
      background-color: red;
      display: block;
      margin-top: 15px;
    }
  }
  .info-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .info-list-item {
      a {
        font-family: "Roboto Condensed", sans-serif;
        text-decoration: none;
        color: black;
        font-size: 25px;
        &:hover {
          transition: all 0.2s linear;
          color: red;
        }
      }
    }
  }
  .info-button {
    margin: 0 auto;
    width: 210px;
    height: 150px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/single-character-btn.png);
    background-position: center;
    background-size: cover;
    &:hover {
      font-size: 55px;
      transition: all 0.5s;
    }
  }
  &:last-of-type {
    margin-bottom: 100px;
  }
}
.comics-info-container {
  &::after {
    content: "";
    background-image: url("./../../images/decor-picture-1.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 500px;
    width: 500px;
    height: 500px;
    position: absolute;
    right: 0;
    opacity: 0.4;
  }
}
.series-info-container {
  &::after {
    content: "";
    background-image: url("./../../images/decor-picture-2.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 350px;
    width: 350px;
    height: 350px;
    position: absolute;
    right: 0;
    opacity: 0.4;
  }
}

.error {
  height: 200px;
  text-align: center;
  .error-message {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .comics-info-container {
    &::after {
      opacity: 0.2;
    }
  }
  .series-info-container {
    &::after {
      opacity: 0.2;
    }
  }
}
