.socials-list {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .socials-list-item {
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      svg {
        fill: white;
        width: 30px;
        height: 30px;
      }
    }
    &:hover {
      border: 1px solid transparent;
      background-color: white;
      transition: all 0.3s linear;
      a {
        svg {
          fill: red;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .socials-list {
    height: 300px;
    .socials-list-item {
      width: 70px;
      height: 70px;
      margin-bottom: 15px;
      a {
        svg {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
